## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from gkey import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,57.18,89,40,1.01,scattered clouds
1,1,Saldanha,ZA,-33.0117,17.9442,50.05,81,0,11.52,clear sky
2,2,Sao Filipe,CV,14.8961,-24.4956,73.74,71,7,16.49,clear sky
3,3,Lamu,KE,-2.2717,40.9020,80.82,82,24,10.20,light rain
4,4,Longonjo,AO,-12.9067,15.2533,63.88,70,94,3.27,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Sao Filipe,CV,14.8961,-24.4956,73.74,71,7,16.49,clear sky
3,3,Lamu,KE,-2.2717,40.9020,80.82,82,24,10.20,light rain
12,12,Puerto Ayora,EC,-0.7393,-90.3518,72.70,86,26,4.29,scattered clouds
13,13,Rikitea,PF,-23.1203,-134.9692,77.99,72,100,21.16,overcast clouds
14,14,Vaini,TO,-21.2000,-175.2000,78.96,65,20,12.66,few clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Ishigaki,JP,24.3448,124.1572,84.33,84,40,16.11,scattered clouds
701,701,Sanming,CN,26.2486,117.6186,80.35,82,56,0.65,moderate rain
702,702,Sungaipenuh,ID,-2.0833,101.3833,70.68,78,98,1.28,overcast clouds
704,704,Cockburn Town,TC,21.4612,-71.1419,76.68,69,0,18.16,clear sky
705,705,Haimen,CN,23.1935,116.6142,84.09,67,1,6.69,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                317
City                   317
Country                316
Lat                    317
Lng                    317
Max Temp               317
Humidity               317
Cloudiness             317
Wind Speed             317
Current Description    317
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Sao Filipe,CV,14.8961,-24.4956,73.74,71,7,16.49,clear sky
3,3,Lamu,KE,-2.2717,40.9020,80.82,82,24,10.20,light rain
12,12,Puerto Ayora,EC,-0.7393,-90.3518,72.70,86,26,4.29,scattered clouds
13,13,Rikitea,PF,-23.1203,-134.9692,77.99,72,100,21.16,overcast clouds
14,14,Vaini,TO,-21.2000,-175.2000,78.96,65,20,12.66,few clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Ishigaki,JP,24.3448,124.1572,84.33,84,40,16.11,scattered clouds
701,701,Sanming,CN,26.2486,117.6186,80.35,82,56,0.65,moderate rain
702,702,Sungaipenuh,ID,-2.0833,101.3833,70.68,78,98,1.28,overcast clouds
704,704,Cockburn Town,TC,21.4612,-71.1419,76.68,69,0,18.16,clear sky
705,705,Haimen,CN,23.1935,116.6142,84.09,67,1,6.69,clear sky

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sao Filipe,CV,73.74,clear sky,14.8961,-24.4956,
3,Lamu,KE,80.82,light rain,-2.2717,40.9020,
12,Puerto Ayora,EC,72.70,scattered clouds,-0.7393,-90.3518,
13,Rikitea,PF,77.99,overcast clouds,-23.1203,-134.9692,
14,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
17,Mananjary,MG,73.26,overcast clouds,-21.2167,48.3333,
25,Flinders,AU,68.18,moderate rain,-34.5833,150.8552,
26,Huarmey,PE,68.02,overcast clouds,-10.0681,-78.1522,
28,Arraial Do Cabo,BR,76.26,clear sky,-22.9661,-42.0278,
33,Saint-Philippe,RE,72.99,light rain,-21.3585,55.7679,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sao Filipe,CV,73.74,clear sky,14.8961,-24.4956,Hotel Xaguate
3,Lamu,KE,80.82,light rain,-2.2717,40.9020,Lamu House
12,Puerto Ayora,EC,72.70,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Rikitea,PF,77.99,overcast clouds,-23.1203,-134.9692,People ThankYou
14,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
698,Ishigaki,JP,84.33,scattered clouds,24.3448,124.1572,Hotel Peace Land Ishigakijima
701,Sanming,CN,80.35,moderate rain,26.2486,117.6186,Sanming Huangting Lijing Hotel
702,Sungaipenuh,ID,70.68,overcast clouds,-2.0833,101.3833,Penginapan Citra Alam
704,Cockburn Town,TC,76.68,clear sky,21.4612,-71.1419,Osprey Beach Hotel
705,Haimen,CN,84.09,clear sky,23.1935,116.6142,Shantou Chaoyang Donghui Hotel

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]

In [17]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sao Filipe,CV,73.74,clear sky,14.8961,-24.4956,Hotel Xaguate
3,Lamu,KE,80.82,light rain,-2.2717,40.9020,Lamu House
12,Puerto Ayora,EC,72.70,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Rikitea,PF,77.99,overcast clouds,-23.1203,-134.9692,People ThankYou
14,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
698,Ishigaki,JP,84.33,scattered clouds,24.3448,124.1572,Hotel Peace Land Ishigakijima
701,Sanming,CN,80.35,moderate rain,26.2486,117.6186,Sanming Huangting Lijing Hotel
702,Sungaipenuh,ID,70.68,overcast clouds,-2.0833,101.3833,Penginapan Citra Alam
704,Cockburn Town,TC,76.68,clear sky,21.4612,-71.1419,Osprey Beach Hotel
705,Haimen,CN,84.09,clear sky,23.1935,116.6142,Shantou Chaoyang Donghui Hotel

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))